* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: arial, serif
}

.wrapper {
    position: relative
}

.sidebar {
    position: fixed;
    height: 100%;
    background: #1a3a43;
}


.wrapper .sidebar ul li a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    display: block;
}

.wrapper .sidebar ul li:hover {
    background: #fff;
}

.wrapper .sidebar ul li a:hover {
    color: #080511;
    text-decoration: none
}
